
body{
    background-image:linear-gradient(to right ,rgb(0, 204, 255) ,rgb(0, 30, 65)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: none;
    margin: 0px;
   
    
}
.box{
    
    background-color: rgb(255, 255, 255);
    color: rgb(138, 138, 138);
    width: 325px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 40px;
    


     


}


.lock{
    
    height: 125px;
    width: 125px;
    
    
  
}
.email{
    height: 45px;
    width:300px;
    color: rgb(150, 150, 150);
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius:8px;
    font-size: 15px;
    outline: solid rgb(209, 209, 209);
} 

        
        

.password{
   width:300px;
    height: 45px;
    color: rgb(150, 150, 150);
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius:8px;
    font-size: 15px;
    outline: solid rgb(209, 209, 209);
}    
    

.button{ 
    
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-image:linear-gradient(to right ,rgb(2, 202, 252) ,rgb(0, 40, 85)) ;
    color: rgb(167, 230, 255);
    font-family:Lucida Console ;
    font-size: 15px;
    font-weight: 500;
}
